<div class="container">
  <div class="file-icon"></div>
  <div class="middle-section">
    <div class="file-name">
      <span class="ellipsis">
        {{ fileTransferInfo?.fileName }}
      </span>
    </div>

    <div class="status-message">
      <span class="ellipsis">{{ statusMessage }}</span>
    </div>
  </div>

  <ng-container *ngIf="showDownloadButton">
    <div class="button accept">
      <span class="material-symbols-outlined" (click)="onDownload()"> download </span>
    </div>

    <div class="button reject">
      <span class="material-symbols-outlined" (click)="onReject()"> close </span>
    </div>
  </ng-container>
</div>
