<div class="container">
  <div class="file-icon"></div>
  <div class="middle-section">
    <div class="file-name">
      <span class="ellipsis">
        docker-desktop-4.zDZofFdfasdfsdfskadjflasdkjfralsdfjlasdfjlasdfjlasdjfldsjflasdfjldsjflsjdflA2.19.0
      </span>
    </div>
    <div class="status-message">
      <span class="ellipsis">Please accept to download</span>
    </div>
  </div>

  <div class="button">
    <span class="material-symbols-outlined"> download </span>
  </div>
  <div class="button">
    <span class="material-symbols-outlined"> close </span>
  </div>
</div>
