:host {
    margin: 10px;

    .container {
        width: 100px;
    }

    .remote-user-profile {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: #dddd;
        cursor: pointer;

        &:hover{
            outline: solid 3px #cccccc ;
        }
    }

    .user-id {
        overflow-wrap: break-word;
        text-align: center;
    }

    #file-input {
        visibility: hidden;
    }

    file-share-dialog {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .conn-status{
        height: 10px;
        width: 10px;
        border-radius: 5px;
        display: inline-block;
        &.connected{
            background-color: green;
        }
        &.disconnected{
            background-color: red;
        }

    }
}